
@font-face {
  font-family: 'Vazirmatn';
  src: url('../assets/fonts/Vazirmatn-Bold.woff2') format('woff'),
  url('../assets/fonts/Vazirmatn-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
     font-family: "Vazirmatn" !important;
}
table>thead>tr>th,td{
	text-align:center !important;
	font-family: "Vazirmatn" !important;
	font-size:13px !important;
}
td{
	text-align:center !important;
	font-family: "Vazirmatn" !important;
}
h4{
	font-family: "Vazirmatn" !important;
}
h5{
	font-family: "Vazirmatn" !important;
}
h6{
	font-family: "Vazirmatn" !important;
}
span{
	font-family: "Vazirmatn" !important;
}
g{
	font-family: "Vazirmatn" !important;
}


.a4-page {
    /* border: 2px solid #222; */
    margin: auto;
    /* margin-bottom: 10px; */
    /* background-color: red; */
    /* padding: 2mm; */
    /* width: 265mm !important; */
    height: 374mm !important;
    max-height: 374mm !important;
    position: relative;
    box-shadow: none !important;
    /* overflow: hidden !important; */
}

@media print {
    .a4-page {
        /* border: 2px solid #222; */
        margin: auto;
        /* margin-bottom: 10px; */
        /* background-color: red; */
        /* padding: 2mm; */
        width: 265mm !important;
        height: 374mm !important;
        max-height: 374mm !important;
        position: relative;
        box-shadow: none !important;
        /* overflow: hidden !important; */
    }
}

/*---------------start for input option ------------------------*/
     .option-input {
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      -o-appearance: none;
      appearance: none;
      position: relative;
      top: 7px;
      right: 0px;
      bottom: 0;
      left: 0;
      height: 30px;
      width: 30px;
      transition: all 0.15s ease-out 0s;
      background: #cbd1d8;
      border: none;
      color: #fff;
      cursor: pointer;
      display: inline-block;
      margin-right: 0.5rem;
      outline: none;
      position: relative;
      z-index: 1000;;
    }
    .option-input:hover {
      background: #9faab7 !important;
    }
    .option-input:checked {
      background: #00cfdd !important;
    }
    .option-input:checked::before {
      height: 30px;
      width: 30px;
      position: absolute;
      content: '✔';
      display: inline-block;
      font-size: 20.66667px;
      text-align: center;
      line-height: 35px;
    }
    .option-input:checked::after {
      -webkit-animation: click-wave 0.65s;
      -moz-animation: click-wave 0.65s;
      animation: click-wave 0.65s;
      background: #40e0d0 !important;
      content: '';
      display: block;
      position: relative;
      z-index: 100;
    }

/*---------------end for input option ------------------------*/

